body {
    background-color: beige;

}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

form {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
}

#name {
    text-align: left;
    
}

#email {
    text-align: left;
}

h2 {
    font-family: Arial, sans-serif;
    text-align: center;
}

#user-list {
    margin-top: 5px;
    background-color: blanchedalmond;
}
